$black: #000000;
$red: #ff0000;
$green: #4e9a06;
$yellow: #c4a000;
$blue: #729fcf;
$magenta: #75507b;
$cyan: #06989a;
$white: #d3d7cf;

$bright-black: #555753;
$bright-red: #ef2929;
$bright-green: #8ae234;
$bright-yellow: #fce94f;
$bright-blue: #32afff;
$bright-magenta: #ad7fa8;
$bright-cyan: #34e2e2;
$bright-white: #fff;
