@import "style/_variables.scss";
.console {
  height: 95%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }

  .console-header {
    width: 100%;
    background-color: $white;
    color: $bright-black;
    position: sticky;
  }

  .console-container {
    min-height: 100%;
  }
}
