@import "style/_variables.scss";


html,body{
  background-color: $bright-black;
  color: $white;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.user-info {
  color: $bright-green;
}

.path{
  color: $blue;
}

.input-text {
  color: $white;
  width: auto;
  resize: vertical;
}

